<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_yourweatherlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_yourweatherlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yourweather"
        tools:targetApi="31">
        <activity
            android:name=".presentation.sign.SocialSignCheck"
            android:exported="false" />
        <activity
            android:name=".presentation.weatherinput.InitialNoWeatherFragment"
            android:exported="true" />
        <activity
            android:name=".presentation.weatherinput.HomeFragment"
            android:exported="true" />
        <activity
            android:name=".presentation.weatherinput.HomeWeatherInputFragment"
            android:exported="true" />
        <activity
            android:name=".presentation.MyPagePwChange"
            android:exported="false" />
        <activity
            android:name=".presentation.MyPageNicknameChange"
            android:exported="false" />
        <activity
            android:name=".presentation.analysis.IconStaticsWeeklyFragment"
            android:exported="false" />
        <activity
            android:name=".presentation.analysis.IconStaticsMonthlyFragment"
            android:exported="false" />
        <activity
            android:name=".presentation.analysis.BarStaticsWeeklyFragment"
            android:exported="false" />
        <activity
            android:name=".presentation.analysis.BarStaticsMonthlyFragment"
            android:exported="false" />
        <activity
            android:name=".presentation.calendar.CalendarTotalViewFragment"
            android:exported="false" />
        <activity
            android:name=".presentation.sign.SignUp2"
            android:exported="false" />
        <activity
            android:name=".presentation.sign.Nickname"
            android:exported="false" />
        <activity
            android:name=".presentation.sign.SignUp"
            android:exported="false" />
        <activity
            android:name=".presentation.sign.FindPw"
            android:exported="false" />
        <activity
            android:name=".presentation.CalendarDetailView1"
            android:exported="true" />
        <activity
            android:name=".presentation.CalendarDetailView2"
            android:exported="false" />
        <activity
            android:name=".presentation.CalendarDetailView3"
            android:exported="false" />
        <activity
            android:name=".presentation.BottomNavi"
            android:exported="false" />
        <activity
            android:name=".presentation.sign.SignIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.Splash"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>